.about {
  margin-top: 32px;
}

.socialContainer {
  display: flex;
  margin-top: 64px;
}

.socialIcon {
  color: var(--theme-accent);
  margin-right: 24px;
}

.socialIcon:last-child {
  margin-right: 0;
}