.imageContainer {
  width: 200px;
  margin-right: 56px;
}

.item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 30px;
  margin-bottom: 42px;
}

.item:last-child {
  margin-bottom: 0;
}

.link {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dark p {
  color: var(--theme-text-4);
}

.footer {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.subLabel {
  margin-top: 16px;
  margin-bottom: 30px;
  color: var(--theme-text-4);
  font-weight: 400;
}

.subLabel.dark {
  color: var(--theme-text-3);
}

@media only screen and (max-width: 860px) {
  .footer {
    flex-direction: column;
    margin-top: 0;
    align-items: center;
  }

  .subLabel {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 0px;
  }

  .link {
    margin-top: 8px;
  }
}
