.imageContainer {
  width: 200px;
  margin-right: 56px;
}

.item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 30px;
  margin-bottom: 42px;
}

.item:last-child {
  margin-bottom: 0;
}

.link {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text {
  margin: 0;
}

.footer {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.subLabel {
  opacity: 0.3;
  font-weight: 300;
}
