.wrapper {
  background-color: #f8f7f2;
  padding: 42px 0;
}

.toggle {
  margin-top: -4px;
}

.menu {
  display: none;
}

.close {
  display: none;
}

.links {
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.routes {
  display: flex;
}

.actions {
  display: flex;
}

.content {
  display: flex;
  padding: 0 32px;
  align-items: center;
}

.monogram {
  height: 56px;
  margin-right: 80px;
}

.navItem {
  color: #0e2f3f;
  font-size: 18px;
}

.navItemLink {
  color: inherit;
  margin-right: 50px;
  text-decoration: none;
}

.navItemLink.alternate {
  color: #569f63;
}

.navItemLink:hover .underline,
.navItemLink.hover .underline {
  opacity: 1;
}

.navItemLink:last-child {
  margin-right: 0;
}

.underline {
  width: 100%;
  margin-top: 6px;
  height: 3px;
  background-color: #5FC771;
  border-radius: 30px;
  opacity: 0;
  transition: all 0.2s;
}

.underline.alternate {
  background-color: #569f63;
}

.underline.active {
  opacity: 1;
}

@media only screen and (max-width: 780px) {
  .navItemLink {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .menu {
    display: block;
  }

  .links {
    display: none;
  }

  .toggle {
    display: none;
  }

  .navItem {
    padding: 0 72px;
    font-size: 28px;
  }

  .links.open {
    padding-top: 72px;
    z-index: 100;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    flex-direction: row;
  }

  .links.open .routes {
    flex-direction: column;
  }

  .links.open .actions {
    flex-direction: column;
  }

  .content {
    padding: 0 56px;
    margin-top: 24px;
    margin-bottom: 24px;
    justify-content: space-between;
  }

  .close {
    margin-bottom: 32px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .closeIcon {
    margin-right: 42px;
  }
}
