.wrapper {
  background-color: var(--theme-page-background);
  padding: 42px 0;
}

.topBlob {
  user-select: none;
  height: 100px;
  position: absolute;
  top: -72px;
  right: 100px;
  z-index: 1;
}

.toggle {
  cursor: pointer;
  margin-top: -4px;
}

.toggle:hover {
  opacity: 0.7;
}

.menu {
  color: var(--theme-text-2);
  display: none;
}

.close {
  color: var(--theme-text-2);
  display: none;
}

.links {
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.routes {
  display: flex;
}

.actions {
  display: flex;
}

.content {
  display: flex;
  padding: 0 32px;
  align-items: center;
}

.monogram {
  height: 56px;
  margin-right: 80px;
}

.navItem {
  z-index: 5;
  color: var(--theme-text-2);
  font-size: 18px;
}

.navItemLink {
  color: inherit;
  margin-right: 50px;
  text-decoration: none;
}

.navItemLink.alternate {
  color: var(--theme-accent);
}

.navItemLink:hover .underline,
.navItemLink.hover .underline {
  opacity: 1;
}

.navItemLink:last-child {
  margin-right: 0;
}

.underline {
  width: 100%;
  margin-top: 6px;
  height: 3px;
  background-color: var(--theme-accent);
  border-radius: 30px;
  opacity: 0;
  transition: all 0.2s;
}

.underline.alternate {
  background-color: var(--theme-accent);
}

.underline.active {
  opacity: 1;
}

@media only screen and (max-width: 1046px) {
  .topBlob {
    display: none;
  }
}

@media only screen and (max-width: 860px) {
  .navItemLink {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .menu {
    display: block;
  }

  .links {
    display: none;
  }

  .toggle {
    display: none;
  }

  .navItem {
    padding: 0 72px;
    font-size: 28px;
  }

  .links.open {
    padding-top: 72px;
    z-index: 100;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--theme-page-background);
    flex-direction: row;
  }

  .links.open .routes {
    flex-direction: column;
  }

  .links.open .actions {
    flex-direction: column;
  }

  .content {
    padding: 0 56px;
    margin-top: 24px;
    margin-bottom: 24px;
    justify-content: space-between;
  }

  .close {
    margin-bottom: 32px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .closeIcon {
    margin-right: 42px;
  }
}
