.items {
  margin-top: 60px;
}

.divider {
  width: 100%;
  border: 1px dashed #CCDAE1;
  margin-top: 32px;
}

.viewMoreSection {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillsHeading {
  margin-top: 42px;
}
