.items {
  margin-top: 60px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #152d43;
  margin-top: 32px;
}

.viewMoreSection {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillsHeading {
  margin-top: 42px;
}
