.heading {
  margin-bottom: 48px;
}

.page {
  background-color: #569F63;
  box-sizing: border-box;
  padding: 72px 32px 72px 32px;
}

@media only screen and (max-width: 900px) {
  .page {
    padding: 0 32px 42px 32px;
  }
}
